@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'GmarketSansMedium';
}
body {
    background-color: #333;
}
.container {
    width: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    border-radius: 40px;
}
.myname {
    margin-top: 30px;
    width: 60%;
    font-size: 25px;
    padding: 15px;
    padding-bottom: 10px;
    background-color: #eee;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-align: center;
}
.container>div {
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
}
.container>div+div {
    border-top: 2px solid #ccc;
}
.btn {
    padding: 10px 30px;
    border: 0;
    font-size: 20px;
    border-radius: 30px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.btn:hover {
    background-color: darkblue;
}

.popupbg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
}
.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    /* height: 150px; */
    background-color: #fff;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 200;
}
.popup i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}